@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#threejs-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; 
}

.ui {
  position: fixed;
  z-index: 1000; 
  height: 100vh;
  width: 100vw;
  overflow-y: auto; 
}

:root {
  --background-color: #111111;
  --text-color: #EBF5EE;
  --accent-color: #EF946C;
  --border-color: #121212;
  --new-background-color: #13041f;
  --new-text-color: #111111;
  --logo-color: 0;
}

[data-theme="light"] {
  --background-color: transparent;
  --text-color: #111111;
  --accent-color: #EF6C94;
  --border-color: #CCCCCC;
  --logo-color: 1;
}

[data-theme="dark"] {
  --background-color: transparent;
  --text-color: #EBF5EE;
  --accent-color: #EF946C;
  --border-color: #121212;
  --logo-color: 0;
}


@keyframes fadeInColors {
  0% {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  100% {
    background-color: var(--new-background-color);
    color: var(--new-text-color);
  }
}

.fade-transition {
  animation: fadeInColors 0s forwards;  
}

@keyframes fadeOutColors {
  0% {
    background-color: var(--new-background-color);
    color: var(--new-text-color);
  }
  100% {
    background-color: var(--background-color);
    color: var(--text-color);
  }
}

html, body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 1s, color 1s, border-color 1s;
}

div {
  border-color: var(--border-color);
  transition: border-color 0.9s linear;
  border: linear-gradient(to right, var(--border-color), transparent); 
}


.custom-button2 {
  all: unset;
  color: var(--text-color);
  padding: 15px;
  cursor: pointer;
  font-family: 'Space Grotesk';
  font-size: 18px;
  letter-spacing: 2px;
}

.custom-button {
  all: unset;
  color: var(--text-color);
  padding: 15px 0px 15px 0px;
  cursor: pointer;
  font-family: 'Space Grotesk';
  font-size: 18px;
  letter-spacing: 2px;
}

.custom-button:hover {
  color: var(--accent-color);
}
.custom-button2:hover {
  color: var(--accent-color);
}

.custom-button-big:hover {
  color: var(--accent-color);
}

.custom-button-big {
  all: unset;
  color: var(--text-color);
  padding: 70px 50px 0px 50px;
  cursor: pointer;
  font-family: 'Space Grotesk';
  font-size: 40px;
  text-align: start;
  margin-bottom: 10px;
}

.project-description {
  color: var(--text-color);
  font-family: "Space Grotesk";
  text-align: start;
  width: calc(100% - 100px);
  padding-left: 50px;
  padding-right: 0px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.home-text {
  color: var(--text-color);
  font-family: "Space Grotesk";
  text-align: "end";
}

li::marker {
  content: " - "
}

.info-text {
  color: var(--text-color);
  font-family: "Space Grotesk";
  text-align: "start";
}

.header {
  font-family: 'Space Grotesk';
  font-size: 70px;
  padding: 0 0 0 0;
  margin-top: 0px;
  margin-bottom: 40px;
  color: var(--text-color);
  letter-spacing: -2px;
  font-weight: 100;
  display: inline-block;
  border-bottom: 1px solid #444444;
  line-height: 1;
}


.loader {


  width: 200px;
  aspect-ratio: .75;
  --c: no-repeat linear-gradient(#CCC 0 0);
  background: 
    var(--c) 0%   50%,
    var(--c) 50%  50%,
    var(--c) 100% 50%;
  animation: l7 1s infinite linear alternate;
}
@keyframes l7 {
  0%  {background-size: 20% 50% ,20% 50% ,20% 50% }
  20% {background-size: 20% 20% ,20% 50% ,20% 50% }
  40% {background-size: 20% 100%,20% 20% ,20% 50% }
  60% {background-size: 20% 50% ,20% 100%,20% 20% }
  80% {background-size: 20% 50% ,20% 50% ,20% 100%}
  100%{background-size: 20% 50% ,20% 50% ,20% 50% }
}




.fade-in {
  animation: fadeIn 0.5s backwards; 
}

.fade-out {
  animation: fadeOut 0.5s forwards; 
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
